body {
    background-color: #f0f0f0;
}   

h1 {
    color: #333;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #8db3fa;
}

li {
    float: left;
}
